<div class="search-form-container">

  <form class="search-form"
    (ngSubmit)="submitSearch()">

    <div class="search-label">Find venue recommendations in the area</div>

    <input [(ngModel)]="searchQuery"
      name="searchInput"
      type="text"
      placeholder="Where?"
      class="search-input-container">

    <button type="submit">Search</button>

    <div class="search-error">{{ errorMessage }}</div>
  </form>
</div>

<div class="search-results"
  *ngIf="venues != null">
  <div class="search-results-info">{{ info }}</div>
  <div class="venues-container">
    <venue *ngFor="let venue of venues"
      [venue]="venue"></venue>
  </div>
</div>