.venue {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 200px;
    background-color: lightskyblue;
    margin: 10px;
    padding: 10px;
    text-align: left;
    height: auto;
}

.venue-name {
    font-size: 1rem;
}

.venue-address {
    margin-top: 10px;
    font-size: 0.9rem;
    font-style: italic;
}

.venue-categories {
    margin-top: 20px;
    font-size: 0.9rem;
}